poc/poc-config-server/.mvn/
poc/poc-microservice-customer/.mvn/
poc/poc-eureka-server/.mvn/
poc/poc-medical-scheduling-service/.mvn/
poc/poc-health-care-web/.mvn/
poc/poc-turbine-server/.mvn/

# Eclipse
.classpath
.project
.settings/
.springBeans

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
